<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200&icon_names=visibility,visibility_off,check" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0&icon_names=check" />
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="signup-container">
        <div class="top-container">
            <h1>Create Account</h1>
            <p>Turn your PDFs and lecture notes into interactive quizzes in seconds.</p>
        </div>

        <div class="middle-container">
            <div class="first-step-main-container">
                <div class="first-step-top-container">
                    <div id="firstStepFirstCirle">
                        <div id="firstStepInsideCircle">1</div>
                    </div>
                    <div class="first-progession-status">
                        <div class="progress-bar-first-step"></div>
                    </div>
                </div>
                <div class="first-step-bottom-container">
                    <p class="step-one">STEP 1</p>
                    <p id="first-step-email">Email</p>
                    <div id="status-in-text-first-step">
                        In Progress
                    </div>
                </div>
            </div>
            <div class="second-step-main-container">
                <div class="second-step-top-container">
                    <div id="secondStepsecondCirle">
                        <div style="display: none;" id="secondStepInsideCircle">2</div>
                    </div>
                    <div class="second-progession-status">
                        <div class="progress-bar-second-step"></div>
                    </div>
                </div>
                <div class="second-step-bottom-container">
                    <p class="step-two">STEP 2</p>
                    <p id="second-step-email">Verify</p>
                    <div id="status-in-text-second-step">
                        Pending
                    </div>
                </div>
            </div>
            <div class="third-step-main-container">
                <div class="third-step-top-container">
                    <div id="thirdStepthirdCirle">
                        <div id="thirdStepInsideCircle">3</div>
                    </div>
                </div>
                <div class="third-step-bottom-container">
                    <p class="step-third">STEP 3</p>
                    <p id="third-step-email">Profile</p>
                    <div id="status-in-text-third-step">
                        Pending
                    </div>
                </div>
            </div>
        </div>

        <div class="dynamic-container">
            <div class="postEmailForm">
                <div class="email-label">Email *</div>
                <input type="email" name="email" id="SignUpEmailID" placeholder="example@gmail.com">

                <button type="submit" id="SendOTPBtnId">
                    <div style="display: none;" id="loadingAnimation" class="dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span id="submitEmailBtnContentId">Send OTP</span>
                </button>
            </div>
        </div>

        <div class="or-container">
            <div class="left-line"></div>
            <p>Or</p>
            <div class="right-line"></div>
        </div>

        <div id="signInWithGoogleId" class="conitnue-with-google-container">
            <div style="display: none;" id="signInWithGoogleLoadingAnimation" class="dots">
                <span style="background: #2a2a2a;"></span>
                <span style="background: #2a2a2a;"></span>
                <span style="background: #2a2a2a;"></span>
            </div>
            <div id="continue-with-google-container-container">
                <img src="images/google-logo.png" alt="google-logo">
                <p>Sign up with google</p>
            </div>
        </div>

        <p class="last-para">
            Already have an account?
            <a style="color: black;" href="/login">
                <strong>Login Here</strong>
            </a>
        </p>
    </div>
</body>
<script src="javascript/signup.js"></script>
<script src="javascript/SignupWithGoogle.js"></script>
</html>


<!-- TypeError: Cannot read properties of undefined (reading 'client_id')
    at OAuth2Client.getTokenAsync (C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\google-auth-library\build\src\auth\oauth2client.js:184:32)
    at OAuth2Client.getToken (C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\google-auth-library\build\src\auth\oauth2client.js:177:25)
    at C:\Users\Lenovo\Desktop\velox-ai\node-server\routes\googleAuth.js:26:41
    at Layer.handleRequest (C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\router\lib\layer.js:152:17)
    at next (C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\router\lib\route.js:157:13)
    at Route.dispatch (C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\router\lib\route.js:117:3)
    at handle (C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\router\index.js:435:11)
    at Layer.handleRequest (C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\router\lib\layer.js:152:17)
    at C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\router\index.js:295:15
    at processParams (C:\Users\Lenovo\Desktop\velox-ai\node-server\node_modules\router\index.js:582:12) -->