@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

:root {
    --pimary-color: #2a2a2a;
    --secondary-color: #A5A5A5;
    --ternary-color: #eee;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 30px 40px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container p {
    font-size: 35px;
    font-weight: 500;
}

.top-container button {
    background: var(--pimary-color);
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.bottom-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 0.8fr));
    gap: 20px;
    /* justify-items: center;  */
}

.notebook {
    width: 100%;
    max-width: 270px;   /* max width for each notebook */
    min-height: 300px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--ternary-color);
    transition: 0.3s;
    padding: 25px 30px;
}

.notebook:hover{
    transform: translateY(-5px);
}

.notebook-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acronym-container{
    width: 40px;
    height: 40px;
    background: var(--ternary-color);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
}

.notebook-middle-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}

.notebook-date{
    font-size: 13px;
}

.notebook-name{
    font-size: 22px;
    font-weight: 500;
}

.notebook-bottom-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.line{
    height: 1px;
    background: var(--ternary-color);
}

.number-of-sources-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.num-of-source-actual-container{
    width: 60px;
    height: 30px;
    border: 2px solid var(--ternary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.create-notebook{
    border: 2px dashed var(--ternary-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

.add-notebook-button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background: var(--pimary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-notebook:hover{
    transform: translateY(0px);
}

.invisible-container {
    position: absolute;
    inset: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(231, 231, 231, 0.4); 
    -webkit-backdrop-filter: blur(6px); 
    backdrop-filter: blur(6px);
    transition: backdrop-filter 0.3s ease, background 0.3s ease;
}

.create-notebook-input-form-container {
    width: 350px;
    padding: 20px 30px;
    background: white;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-notebook-input-form-top-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create-notebook-input-form-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-notebook-input-form-input-container input{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    outline: none;
    font-size: 12px;
}

.create-notebook-input-form-container button{
    background: var(--pimary-color);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 500;
    padding: 10px 0px;
    cursor: pointer;
}



@media (max-width: 500px) {
    .top-container button{
        display: none;
    }
}

@media (max-width: 400px) {
    .create-notebook-input-form-container{
        width: auto;
        padding: 20px 20px;
    }
    
    .invisible-container{
        padding: 0px 20px;
    }

    body {
        padding: 30px 20px;
    }

    .top-container p{
        font-size: 28px;
    }

    .container{
        gap: 15px;
    }
}